# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/.angular/*
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/0.pack
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/1.pack
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/3.pack
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/4.pack
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/5.pack
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/index.pack
.angular/cache/angular-webpack/a8fb1db9850a44e7ea7db09a45fe141a731011d1/index.pack.old
package-lock.json
