<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="white">
        <img class="intro-icon" src="assets/icon/favicon.png">
        <h1>Welcome to Mango Fax!</h1>
        <p>Giving you the facts and keeping it real!</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="white">
        <img class="intro-icon" src="assets/icon/mango_multi.png">
        <h1>It's Mango Fax!</h1>
        <p>our goal is to provide you with the truth that you need!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>